.month-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 7px;
  margin-left: 10px;
}

.month-button {
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: 1px 5px 10px 1px rgb(255, 238, 0);
}

.month-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  color: red;
  font-weight: 500;
}

.month-button:active {
  transform: translateY(1.5px);
}